<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="fragments/head.html :: head ('SDS | Contact Tracing Service')"></div>

<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container">
    <div class="bs-docs-selection">
        <div class="row">
            <div class="page-header">
                <h1 id="contact_discovery">Contact Tracing</h1>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.surname}"></td>
                            <td th:text="${patient.phoneNumber}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <p>Please enter the close contacts of <span th:text="${patient.firstName}"> the patient </span></p>
                    <form action="#" th:action="@{/contactsdiscovery/patient/{patientId}(id=${patient.id})}" th:object="${subject}" method="post">
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <p>First Name: <input type="text" class="form-control" th:field="*{firstName}" /></p>
                                    <p>Surname: <input type="text" class="form-control" th:field="*{surname}" /></p>
                                    <p>Phone Number: <input type="text" class="form-control" th:field="*{phoneNumber}" /></p>
                                    <p>Address: <input type="text" class="form-control" th:field="*{address}" /></p>
                                    <!--<p><input type="reset" value="Reset" /> <input type="submit" value="Submit" /></p>-->
                                </label>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div th:replace="fragments/includeScripts.html"></div>
</div>
</body>